@import 'override-bootstrap';
@import 'header';
@import 'footer';
@import 'main';

a {
    text-decoration: none;
    color: grey;
}

.nav-link {
    color: grey;
}

#corpo {
    color: white;
}

#player{
    i {
        font-size: 1.5rem;
        color: white;
    }
    #playerCard {
        background-color: transparent;
    }
}

body::-webkit-scrollbar {
    display: none;
  }
  
  body {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

