@import "override-bootstrap";
@import "header";
@import "footer";
@import "main";




a {
  text-decoration: none;
  color: grey;

  &:hover {
    color: white;
  }
}

body {
  height: 100vh;
  font-family: "Circular" sans-serif;
}

.nav-link {
  color: grey;

  &:hover {
    color: white;
  }
}

#player {
  i {
    font-size: 1rem;
    color: #b1afa9;
    margin: 0 0.3rem;

    &:hover {
      color: white;
    }
  }

  .bi-skip-start-fill,
  .bi-play-circle-fill,
  .bi-skip-end-fill {
    font-size: 2rem;
  }

  #playerCard {
    background-color: transparent;
    width: 16rem;

    p,
    h6 {
      font-size: 80%;
      margin: 0;
    }

    p {
      color: #b1afa9;
    }
  }
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.rounded-circle {
  width: 40px;
}

.txtside {
  color: #b1afa9;
}

#activity {
  margin-left: 0
}

.sidebarR p {
  font-size: 0.8rem;
  color: #b1afa9;
}

#sidebarL {
  border-bottom: 1px solid #212121;
  overflow: hidden;
  position: relative;
  height: 40vh;
}

#playlistCol {
  height: 60vh;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-bottom: 10rem;
}

#corpo {
  color: white;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  padding-bottom: 10rem;

  .row,
  .col {
    padding: 0;
    margin: 0.2rem;
  }

  &::-webkit-scrollbar-track {
    background: #212529;
  }
}

#playerCard,
#volume {
  width: 20%;
}

#playerIcons {
  width: 60%;
}

#player {
  height: 5rem;
}

::-webkit-scrollbar {
  width: 10px;
  position: sticky;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #4D4D4D;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#navbarL {
  position: sticky;
  top: 0;
}

input[type="range"] {
  background-color: blue;
  color: #5e5e5e;
  width: 32rem;
  height: 0.3rem;
  margin: 0 0.3rem;
}

.bi-bookmark-fill {
  font-size: 0.6rem;
  padding: 0.3rem 0.4rem;
}

.d-inline.pe-2 {
  width: 1.5rem;
  height: 1.5rem;
}